/* fix for angular bootstrap */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.game-completed {
    background: lightgreen;
}

.team-win {
	font-style:italic;
}

.stats-progress {
    margin-left: 3px;
    font-size: 0.7em;
}

.progress-neutral {
    color: #b3b3b3;
}
.progress-positive {
    color: green;
}
.progress-negative {
    color: red;
}

.match-details-link {
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    cursor: pointer;
}

ul.match-details {
    margin-left: auto;
    margin-right: auto;
    width: 74px;
    padding: 0;
    font-size: 2em;
}

.match-details li {
    list-style: none;
}

.delete-game-span {
    display: block;
    width: 95px;
    margin-left: auto;
    margin-right: auto;
}