<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SMISS Soccer</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-datepicker3.min.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="css/smiss-soccer.css" rel="stylesheet"/>
</head>
<body ng-app="smissSoccer">
<div class="container" id="body-container">
    <a href="/smiss-soccer/"><h2>Футбол SMISS</h2></a>

    <!--<ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Новый матч</a></li>
        <li role="presentation"><a href="#">Статистика</a></li>
    </ul>-->

    <tabset>
        <tab heading="Новый матч">
            <div ng-controller="MatchController" class="panel panel-default">
                <form name="add-match" class="panel-body">
                    <div class="form-group form-inline">
                        <label for="match-date-input">Дата матча </label>

                        <div class="input-group">
                            <input type="text" id="match-date-input" class="form-control" datepicker-popup
                                   ng-model="match.date" is-open="opened"
                                   ng-required="true" close-text="Close"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openDatepicker($event)">
                                    <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <label>Размер команд</label>

                        <div class="btn-group">
                            <label class="btn btn-default" ng-model="match.teamSize" btn-radio="1">1</label>
                            <label class="btn btn-default" ng-model="match.teamSize" btn-radio="2">2</label>
                        </div>
                    </div>

                    <!-- teams -->
                    <div class="form-group" ng-repeat="team in match.teams">
                        <h3>{{team.name}}</h3>
                        <ul>
                            <li class="form-group form-inline" ng-repeat="teammate in team.teammates">
                                <!--<span class="well well-sm">{{teammate.position}}</span>-->
                                <em>{{teammate.position}}</em>


                                <select ng-model="teammate.playerId" ng-required
                                        ng-options="player._id as player.name for player in allPlayers">
                                </select>
                            </li>
                        </ul>
                    </div>
                    <!-- /teams -->

                    <!-- games-->
                    <h3>Геймы</h3>
                    <ul>
                        <li ng-repeat="game in match.games">
                            <div class="form-group form-inline well well-sm"
                                 ng-class="{'game-completed' : game.isCompleted()}">
                                <input class="form-control" type="number" max="5" min="0" ng-model="game.t1"/> :
                                <input class="form-control" type="number" max="5" min="0" ng-model="game.t2"/>
                            </div>
                        </li>
                    </ul>
                    <!-- /games-->

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" ng-click="saveGame()"
                                ng-disabled="savingInProgress">Сохранить
                        </button>
                    </div>

                    <div id="messages">
                        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
                            {{alert.message}}
                        </alert>
                    </div>
                </form>
            </div>
        </tab>

        <tab heading="Статистика" ng-controller="StatsController" select="statsSelected()">
            <h3>Матчи</h3>
            <table class="table">
                <tr>
                    <th>Дата</th>
                    <th>Окно</th>
                    <th>Стол</th>
                    <th>Счет</th>
                </tr>
                <tr ng-repeat="match in stats.matches.frame">
                    <td>{{match.date|date}}</td>
                    <td>
                        <span ng-repeat="teammate in match.teams['Окно'].teammates" id="player-{{teammate.playerId}}"
                              ng-class="{true:'team-win', false:'team-lost'}[match.score.t1>match.score.t2]">{{playerById(teammate.playerId).name}} </span>
                    </td>
                    <td>
                        <span ng-repeat="teammate in match.teams['Стол'].teammates" id="player-{{teammate.playerId}}"
                              ng-class="{true:'team-win', false:'team-lost'}[match.score.t1<match.score.t2]">{{playerById(teammate.playerId).name}} </span>
                    </td>
                    <td><span class="match-details-link" ss-match-details="match._id">{{match.score.t1}}:{{match.score.t2}}</span></td>
                </tr>
            </table>
            <div style="text-align: center">
                <span style="margin-top:0" pagination total-items="stats.matches.allMatches.length" items-per-page="stats.matches.pageSize"
                  ng-model="stats.matches.page" ng-change="goToMatchesPage()" max-size="5"></span>
            </div>

            <h3>По позициям - {{currentMonth}}</h3>
            <table class="table">
                <tr>
                    <th>Игрок</th>
                    <th>Геймов в качестве вратаря</th>
                    <th>В среднем пропущено за гейм</th>
                    <th>Геймов в качестве нападающего</th>
                    <th title="Голы забивает также и защита">В среднем забито за гейм*</th>
                    <th title="Отношение средних забитых и пропущенных">Простой рейтинг*</th>
                </tr>
                <tr ng-repeat="playerStats in stats.season.playerStats | filter:onlyEnabledPlayers">
                    <td>{{playerById(playerStats.playerId).name}}</td>
                    <td>{{playerStats.double.defence.games}}</td>
                    <td>
                        <span>{{playerStats.double.defence.goalsConcededPerGame}}</span>
                        <span class="stats-progress"
                              ng-class="progressCssClass(playerStats.double.defence.progress.value, -1)">
                            {{showWithSign(playerStats.double.defence.progress.value)}}
                        </span>
                    </td>
                    <td>{{playerStats.double.attack.games}}</td>
                    <td>
                        <span>{{playerStats.double.attack.goalsScoredPerGame}}</span>
                        <span class="stats-progress"
                              ng-class="progressCssClass(playerStats.double.attack.progress.value, 1)">
                              {{showWithSign(playerStats.double.attack.progress.value)}}
                        </span>
                    </td>
                    <td title="{{playerStats.double.simpleScore ? '' : 'Необходимо сыграть 10 геймов для участия в рейтинге'}}">
                        {{playerStats.double.simpleScore || '---'}}
                    </td>
                </tr>
            </table>

            <h3>Общая статистика</h3>
            <table class="table">
                <tr>
                    <th>Игрок</th>
                    <th>Матчей всего</th>
                    <th>Геймов (сингл)</th>
                    <th>Геймов выиграно (сингл)</th>
                    <th>Геймов (дабл)</th>
                    <th>Геймов выиграно (дабл)</th>
                </tr>
                <tr ng-repeat="playerStats in stats.playerStats | filter:onlyEnabledPlayers | orderBy:'-double.winPercent'">
                    <td>{{playerById(playerStats.playerId).name}}</td>
                    <td>{{playerStats.totalMatchCount}}</td>
                    <td>{{playerStats.single.totalGameCount}}</td>
                    <td>{{playerStats.single.totalWinGameCount}}</td>
                    <td>{{playerStats.double.totalGameCount}}</td>
                    <td>
                        <span>{{playerStats.double.totalWinGameCount}}</span>
                        <span style="margin-left: 3px; color: #A0A0A0; font-size: 0.8em;">
                            {{playerStats.double.winPercent}}%
                        </span>
                    </td>
                </tr>
            </table>

            <h3>По позициям</h3>
            <table class="table">
                <tr>
                    <th>Игрок</th>
                    <th>Геймов в качестве вратаря</th>
                    <th>В среднем пропущено за гейм</th>
                    <th>Геймов в качестве нападающего</th>
                    <th title="Голы забивает также и защита">В среднем забито за гейм*</th>
                    <th title="Отношение средних забитых и пропущенных">Простой рейтинг*</th>
                </tr>
                <tr ng-repeat="playerStats in stats.playerStats | filter:onlyEnabledPlayers">
                    <td>{{playerById(playerStats.playerId).name}}</td>
                    <td>{{playerStats.double.defence.games}}</td>
                    <td>
                        <span>{{playerStats.double.defence.goalsConcededPerGame}}</span>
                        <span class="stats-progress"
                              ng-class="progressCssClass(playerStats.double.defence.progress.value, -1)">
                            {{showWithSign(playerStats.double.defence.progress.value)}}
                        </span>
                    </td>
                    <td>{{playerStats.double.attack.games}}</td>
                    <td>
                        <span>{{playerStats.double.attack.goalsScoredPerGame}}</span>
                        <span class="stats-progress"
                              ng-class="progressCssClass(playerStats.double.attack.progress.value, 1)">
                              {{showWithSign(playerStats.double.attack.progress.value)}}
                        </span>
                    </td>
                    <td title="{{playerStats.double.simpleScore ? '' : 'Необходимо сыграть 40 геймов для участия в рейтинге'}}">
                        {{playerStats.double.simpleScore || '---'}}
                    </td>
                </tr>
            </table>

            <h3>По командам</h3>
            <table class="table">
                <tr>
                    <th>Команда</th>
                    <th>Геймов всего</th>
                    <th>Геймов выиграно</th>
                    <th>Процент побед</th>
                </tr>
                <tr ng-repeat="teamStats in stats.teamStats" ng-hide="playerById(teamStats.teammates[0]).disabled || playerById(teamStats.teammates[1]).disabled ">
                    <td>
                        <span style="margin-right:4px">{{playerById(teamStats.teammates[0]).name}}</span>
                        <span>{{playerById(teamStats.teammates[1]).name}}</span>
                    </td>
                    <td>{{teamStats.results.gamesTotal}}</td>
                    <td>{{teamStats.results.gamesWon}}</td>
                    <td title="{{teamStats.disabled ? 'Необходимо сыграть вместе 10 геймов для участия в рейтинге' : ''}}">
                        {{teamStats.disabled ? '---' : (teamStats.results.winPercent + '%')}}</td>
                </tr>
            </table>

            <h3>По сторонам</h3>
            <table class="table">
                <tr>
                    <th>Сторона</th>
                    <th>Геймов выиграно (сингл)</th>
                    <th>Геймов выиграно (дабл)</th>
                </tr>
                <tr ng-repeat="side in sides">
                    <td>{{side}}</td>
                    <td ng-repeat="teamSize in ['single', 'double']">
                        <span>{{stats.sideStats[teamSize][side]}}</span>
                        <span style="margin-left: 3px; color: #A0A0A0; font-size: 0.8em;">
                            {{+(stats.sideStats[teamSize][side] * 100 / stats.sideStats.total[teamSize]).toFixed(2)}}%
                        </span>
                    </td>
                </tr>
            </table>

            <!--<canvas id="goalieStatsChart" ss-goalie-chart stats="stats" width="400" height="400"></canvas>-->

            <div>
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}
                </alert>
            </div>
        </tab>
    </tabset>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<!-- AngularJS -->
<script src="lib/angular/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/MatchController.js"></script>
<script src="js/StatsController.js"></script>
<script src="js/StatsService.js"></script>
<!--<script src="js/ss-goalie-chart.js"></script>-->
<script src="js/ss-match-details.js"></script>

<script src="lib/angular-ui-bootstrap/ui-bootstrap-0.12.1.js"></script>
<script src="lib/angular-ui-bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!--<script src="lib/bootstrap/bootstrap.min.js"></script>-->
<!--<script src="lib/bootstrap/bootstrap-datepicker.min.js"></script>-->
<!--<script src="locales/bootstrap-datepicker.ru.min.js"></script>-->
<script src="lib/moment-2.19.1/moment-with-locales.min.js"></script>
<script src="lib/chartjs/Chart.js"></script>
</body>
</html>
